.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.4rem;
    margin: 0 0.4rem 0 0.4rem;
}

.gallery__image-container {
    cursor: pointer;
    border: 1px solid rgb(196, 196, 196);
    height: 60vw;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gallery__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.8s;
    z-index: 0;
}

.gallery__image_full-screen {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4;
}