@media screen and (min-width: 568px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery__image-container {
        height: 36vw;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        transition: opacity 0.3s;
    }

    .gallery__image-container {
        height: 40vw;
    }
}

@media screen and (min-width: 1350px) {
    .gallery__image-container {
        height: 22.6rem;
    }
}