@media screen and (min-width: 768px) {
    .advantage-item {
        width: 33%;
        font-size: 0.8rem;
    }

    .advantage-item:nth-child(2) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

@media screen and (min-width: 992px) {
    .advantage-item__title {
        font-size: 1.4em;
    }

    .advantage-item:nth-child(2) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

@media screen and (min-width: 1320px) {
    .advantage-item {
        width: 29%;
    }
}