.advantage-item {
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.advantage-item__title {
  font-size: 1.2em;
  padding-bottom: 0.5rem;
}

.advantage-item__description {
    font-family: "SegoeUI-Light";
    font-size: 1em;
    margin-top: 0.2em;
}

.advantage-item__icon {
    height: 1.35em;
    margin-bottom: -0.2em;
    margin-right: 0.1em;
}