@media screen and (min-width: 768px) {
    .advantage-content {
        align-items: flex-start;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .advantage-content {
        padding-top: 1.25rem;
    }
}

@media screen and (min-width: 1320px) {
    .advantage-content {
        padding-top: 1.35rem;
        padding-bottom: 1.1rem;
    }
}