.partners {
    width: 100%;
}

.partners__title-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.partners__title {
    background-color: white;
    display: inline-block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    z-index: 1;
}

.partners__title-container::after {
    background-color: black;
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
}

.partners__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.partners-logo:nth-child(n + 4) {
    display: none;
}

.partners-logo {
    height: 1.6rem;
}
