@media screen and (orientation: landscape) and (max-width: 576px) {
    .partners-logo:nth-child(4) {
        display: flex;
    }
    .partners-logo:nth-child(5) {
        display: flex;
    }
}

@media screen and (min-width: 576px) {
    .partners-logo:nth-child(4) {
        display: flex;
    }
    .partners-logo:nth-child(5) {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .partners-logo:nth-child(n + 4) {
        display: flex;
    }

    .partners__title {
        font-size: 0.8rem;
    }
}