.colors-group__title {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    z-index: 6;
}

.colors-group__colors-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.4rem;
}