.color {
    border: 1px solid rgb(196, 196, 196);
}

.color__title {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

.color__image {
    display: block;
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 9rem;
    width: 100%;
    transition: opacity 0.8s;
}