@media screen and (min-width: 768px) {
    .cart-switch {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        border: none;
        justify-content: space-evenly;
        margin-top: 0em;
        border: solid 1px rgb(196, 196, 196);
        padding: 0rem;
        grid-area: cart-switch;
    }

    .quantity__number {
        font-size: 0.8em;
        margin-bottom: -0.8em;
        margin-left: -0.1em;
    }

    .cart-switch__sum-price {
        display: none;
    }

    .cart-switch__arrow {
        transform: rotate(-180deg);
    }
    
    .cart-switch__arrow_closed {
        transform: rotate(-90deg);
    }
}

@media screen and (min-width: 992px) {
    .cart-switch__sum-price {
        display: block;
    }

    .cart-switch__sum-price::after {
        content: ' руб.';
    }
}