@media screen and (min-width: 768px) {
    .cart-item {
        grid-template-columns: 50% 30% 20%;
    }
    .cart-item::after {
        left: 50%;
    }
    .cart-item::before {
        right: 20%;
    }
    
    .cart-item__price {
        margin-left: 20%;
    }

    .quantity__button  {
        font-size: 0.8em;
    }
}