.cart-switch {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    align-items: center;
    background-color: white;
    height: 2em;
    margin-top: -2em;
    padding-right: 1em;
    padding-left: 1em;
    z-index: 6
}

.cart-switch__quantity {
    display: flex;
    align-items: center;
    height: 100%;
}

.quantity__number{
    font-size: 0.9em;
    margin-bottom: -0.5em;
}

.cart-switch__arrow {
    height: 100%;
    transition: transform 0.3s;
    transform: rotate(-180deg);
}

.cart-switch__arrow_closed {
    transform: rotate(0deg);
}

.cart-switch img[alt='cart'] {
    height: 80%;
}

.cart-switch__sum-price::after {
    content: ' р.';
}