.cart-item {
    display: grid;
    grid-template-columns: 55% 25% 20%;
    position: relative;
    border: 1px solid rgb(196, 196, 196);

    margin: 0.4em;
    padding: 0.2rem;
    font-size: 1em;
    align-items: center;
}

.cart-item img {
    height: 1em;
}

.cart-item::after {
    position: absolute;
    left: 55%; 
    display: inline-block;
    content: '';
    background-color: rgb(196, 196, 196);
    width: 1px;
    height: 75%;
}

.cart-item::before {
    position: absolute;
    right: 20%;
    display: inline-block;
    content: '';
    background-color: rgb(196, 196, 196);
    width: 1px;
    height: 75%;
}

.cart-item__name {
    font-size: 0.9em;
}

.cart-item__modificators {
    align-self: flex-start;
}

.cart-item__modificator{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20%;
}

.cart-item__price {
    align-self: flex-start;
}

.cart-item__price > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.quantity__number {
    font-size: 1.05em;
    margin: -0.1em 0.3em 0 0.3em;
}

.quantity__button {
    cursor: pointer;
    font-size: 0.7em;
}