.cart-container {
    position: fixed;
    bottom: 0;
    font-size: 0.9rem;
    background-color: white;
    transition: transform 0.6s;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
}

.cart-container_closed {
    transform: translateY(100%);
}

.cart {
    max-height: calc(100vh - 2em - 2px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.cart::-webkit-scrollbar-track {
    background-color:#ecedee;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
    
.cart::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:rgb(196,196,196);
}
    
.cart::-webkit-scrollbar{
    width: 5px;
}