@media screen and (min-width: 768px) {
    .cart-container {
        position: sticky;
        top: 0;
        height: 2rem;
        width: 100%;
        margin-bottom: 0.4rem;
        transition: none;
        grid-area: cart-container;
    }

    .cart-container_closed {
        transform: none;
    }

    .cart {
        position: absolute;
        right: 0;
        top: 100%;        
        max-height: 40vh;
        width: 20rem;
        z-index: 4;

        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;

        transition: transform 0.4s;
        transform-origin: 90% 0 0;
    }

    .cart_closed {
        transform: scale(0);
    }
}
