.mod-bar {
    position: sticky;
    display: flex;
    top: 0;
    height: 2rem;
    margin-bottom: 0.4rem;
    background-color: white;
    align-items: center;
    border: rgb(196, 196, 196) solid 1px;
    z-index: 4;
}

.mod-bar::after {
    position: absolute;
    content: '';
    left: 50%;
    background-color: rgb(196, 196, 196);
    width: 1px;
    height: 100%;
}

.mod-button { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.mod-button__icon {
    height: 80%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.mod-button__value {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    min-width: 60%;
    border: 1px solid rgb(196, 196, 196);
    height: 72%;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    justify-content: center;
}

.color-mini__name {
    display: flex;
    justify-content: center;
    width: 70%;
}

.color-mini__icon {
    height: 100%;
    width: 30%;
}