
@media screen and (min-width: 576px) {
    .products-table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (orientation: landscape) {
    .products-table {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .products-table {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.6rem;
        margin: 0rem;
        padding-bottom: 0.6rem;
        grid-area: products;
    }

}

@media screen and (min-width: 992px) {
    .products-table {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1350px) {
    .products-table {
        grid-template-columns: repeat(6, 1fr);
    }
}