@media screen and (min-width: 576px) {
    .product__name {
        font-size: 16px;
    }
    .product__size{
        font-size: 16px;
    }
    .product__price::after {
        content: '\a0руб.';
        margin-bottom: -0.1em; 
    }
}

@media screen and (min-width: 768px) {
    .product {
        display: grid;
        grid-column-gap: 0.3rem;
        grid-template-rows: auto auto auto 1.75em;
        text-align: left;
    }
    .product__price {
        font-size: 1em;
        justify-content: center;
    }
}
