.product {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns:  1.3fr 0.7fr ;
    grid-template-rows: auto auto auto 1.95em;
    grid-template-areas: 'image image'
                        'name name'
                        'size size'
                        'price add';
    font-size: 1rem;
    text-align: center;

    border: 1px solid rgb(196, 196, 196);
    padding: 0.5rem;
}

.product__image {
    align-self: center;
    grid-area: image;
    user-select: none; 
    width: 100%;
}

.product__name {
    align-self: flex-start;
    grid-area: name;
    font-size: 0.9em;
}

.product__size {
    align-self: flex-end;
    grid-area: size;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.product__price {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: price;
    height: 100%;
    font-size: 19px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

.product__price::after {
    font-size: 1rem;
    content: '\a0р.';
}

.product__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f8f8f8;
    height: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}

.product__button[type='add'] {
    grid-area: add;
}

.product__button img {
    user-select: none; 
    height: 1.6em;
}

