.app {
  margin: 0 auto;
  font-family: 'SegoeUI';
}

.app > div {
  
  transition: opacity 0.3s;
}

.scene__loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 8rem;
}
