@media screen and (min-width: 768px) {
    .shop {
        display: grid;
        grid-template-columns: 1.4fr 0.6fr;
        grid-template-rows: 2rem auto;
        grid-template-areas: 'mod-bar cart-container'
                            'products products ';
        grid-row-gap: 0.4rem;
        padding: 0 0.6rem 0 0.6rem;
    }
}
