.about {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
}

.about__text {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,1);
}