.contacts-container {
    font: '' 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);

    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.contacts {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 60% 40%;
    max-width: 22rem;

    height: 4.9rem;
    
    margin: 0 auto;
    width: 100%;
}

.contacts > *{
    display: flex;
    align-items: center;
}

.contacts__phone {
    font-family: 'SegoeUI';
}

.contacts__email {
    grid-column: 1;
    grid-row: 2;
}

.contacts__vk{
    justify-self: end;
}

.contacts__whatsapp{
    justify-self: end;
}

.contacts a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.contacts img{
    width: 2rem;
    margin: 0.4rem;
}



