@media screen and (min-width: 500px) {
    .contacts {
        display: flex;
        font-size: 0.8em;
        justify-content: space-around;
        max-width: 100%;
        height: 2.4rem;
    }
    .contacts img{
        width: 1.9rem;
        margin: 0.1rem;
    }
}

@media screen and (min-width: 756px) {
    .contacts {
        justify-content: space-evenly;
    }
    .contacts img{
        width: 2rem;
        margin: 0.3rem;
    }
}