.menu {
    font-family: 'SegoeUI-Light';
    font-size: 1rem;
    padding-bottom: 0.7rem;
    text-align: center;
}

.menu__logo {
    color: black;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0.5px rgba(0,0,0,0.3);
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    padding: 5.6px;
    text-decoration: none;
}

.menu__logo:visited {
    color: black;
}

.menu__container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.menu__nav-link {
    background-color: white;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-decoration: none;
    z-index: 0;
}

.menu__container:after {
    background-color: black;
    content: '';
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}

.menu__nav-link:visited {
    color: black;
}

.menu__nav-link_no-available:visited {
    color: rgba(0,0,0,0.5);
}
